<title>Digital Strategy, Advertising, and Search Marketing</title>

<link rel='stylesheet' id='jobman-display-css' href='/css/display.css' type='text/css' media='all' />
<link rel='stylesheet' id='contact-form-7-css' href='/css/styles.css' type='text/css' media='all' />
<link rel='stylesheet' id='style-css-css' href='/css/style.css' type='text/css' media='all' />
<link rel='stylesheet' id='layout-css' href='/css/layout.css' type='text/css' media='all' />
<link rel='stylesheet' id='main-css' href='/css/main.css' type='text/css' media='all' />
<link rel='stylesheet' id='shortcodes-css' href='/css/shortcodes.css' type='text/css' media='all' />
<link rel='stylesheet' id='mediaelement-css' href='/css/mediaelementplayer.min.css' type='text/css' media='all' />
<link rel='stylesheet' id='prettyPhoto-css' href='/css/prettyPhoto.css' type='text/css' media='all' />
<link rel='stylesheet' id='responsive-css' href='/css/responsive.css' type='text/css' media='all' />

<link rel='stylesheet' id='responsive-css' href='/css/login-frm.css' type='text/css' media='all' />


<script type='text/javascript' src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type='text/javascript' src='/js/core.min.js'></script>
<script type='text/javascript' src='/js/fitvids.js'></script>
<script type='text/javascript' src='/js/prettyPhoto.js'></script>
<script type='text/javascript' src='/js/plugins.js'></script>
<script type='text/javascript' src='/js/imagesloaded.js'></script>
<script type='text/javascript' src='/js/jquery.queryloader2.min.js'></script>
<script type='text/javascript' src='/js/jquery.waypoints.js'></script>
<script type='text/javascript' src='/js/bootstrap.carousel.js'></script>
<script type='text/javascript' src='/js/bxslider.js'></script>

<script type='text/javascript' src='/js/bootstrap-button.js'></script>
<script type='text/javascript' src='/js/bootstrap-modal.js'></script>
<script type='text/javascript' src='/js/bootstrap-tooltip.js'></script>
<script type='text/javascript' src='/js/bootstrap-alert.js'></script>
<script type='text/javascript' src='/js/login-frm.js'></script>

<script type='text/javascript' src='/js/main.js'></script>


<style type="text/css">

    @font-face {
	font-family: 'My Font One';
	src: url('/fonts/lovelo.eot');
	src:
		url('/fonts/lovelo.eot?#iefix') format('eot'),
		url('/fonts/lovelo.woff') format('woff'),
		url('/fonts/lovelo.ttf') format('truetype'),
		url('/fonts/lovelo.svg#MyFontOne') format('svg');
	font-weight: normal;
	font-style: normal;
	}
  
  	

	 body{	
      	  
      font-family: Muli ;
      font-size: 15px;
      font-weight: 300;
	  line-height:27px;
      color: #696969;
      }

  
  .button , input[type="submit"] ,
  .counter-title > span ,
  .quotes-slider > li cite ,
  .page-nav  span,
  .page-nav  a ,
  .page-nav-prev a,
  .page-nav-next a ,
  .post-standard .post-date{
	  font-family:Oswald;
  }

/*-----------------------------------------------------*/
/* Heading Styles
/*-----------------------------------------------------*/

   h1{
    font-family: Oswald ;
    font-size: 36px;
    font-weight: ;
	line-height:48px;
	letter-spacing:1px;
	text-transform:none;
    color: #222222;
	}

  h2{
    font-family: Oswald ;
    font-size: 30px;
    font-weight: ;
	line-height:40px;
	letter-spacing:0px;
	text-transform:uppercase;
    color: #222222;
   }

   h3{
    font-family: Oswald ;
    font-size: 20px;
    font-weight: 400;
	line-height:29px;
	letter-spacing:1px;
	text-transform:none;
    color: #222222; 
   }

  h4{
    font-family: Oswald;
    font-size: 16px;
    font-weight: 400;
	line-height:26px;
	letter-spacing:1px;
	text-transform:uppercase;
    color: #222222;
   } 

  h5{
    font-family: Roboto Slab;
    font-size: 18px;
    font-weight: 300;
	line-height:35px;
	letter-spacing:0px;
	text-transform:none;
    color: #888888;
   }

  h6{
    font-family: My Font One;
    font-size: 15px;
    font-weight: 400;
	line-height:23px;
	letter-spacing:1px;
	text-transform:uppercase;
    color: #999999; 
   }

   a{
	   color:#fe6159;
   }
    a:hover{
		color:#2d2d2d;
	}
   
   h1 a:hover , h2 a:hover , h3 a:hover , h4 a:hover , h5 a:hover, h6 a:hover{
	   color:#fe6159;
   }

/*----------------------------------------------*/ 
/* Topbar 
/*----------------------------------------------*/

  #top_bar {
	background-color:#f5f5f5;
	border-bottom-color:transparent;
  }
  #top_bar .social-icons li{
     border-color:#dddddd;
  }
  
  #top_bar .social-icons li a {
	  color:#bbbbbb;
  }
  #top_bar .social-icons li a:hover {
	  color:#fe6159;
  }
  #top_bar .contact-info span {
	  color:#bbbbbb;
	  border-right-color:#dddddd;
  }

/*----------------------------------------------*/
/* Main Navigation Styles
/*----------------------------------------------*/

  
  #main_navigation {
      background:#ffffff;
  }
  ul.main_menu > li > a { 
      color:#999999;
      font-size:12px;
      font-weight: 400;
	  letter-spacing: 1px;
      font-family:My Font One;
	  text-transform:uppercase;
   }
  .main_menu > li:hover > a,
  .main_menu > li > a:hover  {
	  color: #fe6159  }


  .main_menu > li.active a,
  .main_menu > li.active a:hover
   {
	   color: #fe6159;
	   border-top-color:#fe6159;
}
  .main_menu ul.sub-menu {
	background-color:#1e1e1e;
	background-color:rgba(30,30,30,1);
}
 .main_menu ul.sub-menu li{
	 border-bottom-color:#333333 }
 .main_menu ul.sub-menu li a {
	color:#dddddd;
    font-size:13px;
    font-weight:400; 
    font-family:Muli;
	text-transform:uppercase;
	letter-spacing:1px;
  }

  .main_menu .sub-menu li.current-menu-item > a,
  .main_menu .sub-menu li.current-menu-item > a:hover,
  .main_menu .sub-menu li.current_page_item > a,
  .main_menu .sub-menu li.current_page_item > a:hover{
	 color:#eeeeee;
  }


  .main_menu .sub-menu li a:hover {
	 color:#ffffff;
	 background-color:transparent;
}

  .search-button,
  #toggle-menu .toggle-menu{
	 color:#666666  }

  .search-button:hover ,
  #toggle-menu .toggle-menu:hover{
	 color:#fe6159  }

   #header_search_button,
  #logo,
  ul.main_menu > li > a,
  #main_navigation .social-icons li a{
	  height:84px;
 }
 
 #titlebar.titlebar-type-transparent{
	 padding-top:84px;
 }

  #logo,
  #header-search-button,
  .cart-container,
   #main_navigation .social-icons li a {
	  line-height:84px;
  }
  
  ul.main_menu > li > a{
	  line-height:81px;
}  


 /* Brad Slider*/
 
 .carousel-caption h6{
	font-family: Muli;
    font-size: 16px;
    font-weight: 400;
	line-height:28px;
	letter-spacing:4px;
	text-transform:uppercase;
  }

 
 .carousel-caption h2{
	font-family: Oswald;
    font-size: 70px;
    font-weight: 400;
	line-height:80px;
	letter-spacing:2px;
	text-transform:uppercase;
  }
  
  
  .carousel-caption .slider-content{
	font-family: Muli;
    font-size: 21px;
    font-weight: 300;
	line-height:30px;
	letter-spacing:0px;
	text-transform:none;
  }

 
 /*----------------------------------------------*/
 /* titlebar Style
 /*----------------------------------------------*/
 #titlebar{
	   }
 
  #titlebar .titlebar-wrapper{
	 height:200px;min-height:200px; }


#titlebar .titlebar-content  h1 {
	font-family: My Font One;
    font-size: 45px;
    font-weight: 400;
	line-height:55px;
	letter-spacing:0px;
	text-transform:none;
}


#titlebar .titlebar-subcontent{
	font-family: Muli;
    font-size: 15px;
    font-weight: 400;
	line-height:25px;
	letter-spacing:2px;
	text-transform:uppercase;
}

    
/*----------------------------------------------*/
/* Sidebar Healine
/*----------------------------------------------*/
  .sidebar .widget > h3{
     color:#222222;
     font-size:15px;
     font-family:My Font One,sans-serif;
     font-weight:400;
	 letter-spacing:1px;
	 text-transform:uppercase;
  }


/*-------------------------------------------------*/
/* Overlay and buttons
*---------------------------------------------------*/


  .button ,
  input[type="submit"]{
	  background-color:#fe6159;
	  color:#ffffff;
}

  
/*---------------------------------------------------*/
/* Footer Styles
/*---------------------------------------------------*/

  #footer{
    color: #aaaaaa;
    background-color:#222222;
	font-size:15px;
}

  #footer .widget_tag_cloud a ,
  #footer .social-icons a ,
  .footer-menu > li a {
	 color: #cccccc;
	 border-color: #cccccc;
  }
 
  #footer .widget_tag_cloud a:hover,
  #footer .social-icons a:hover ,
  .footer-menu > li a:hover{
	 color:#ffffff;
	 border-color:#ffffff;
  }
  #footer .widget > ul > li ,
  #footer .widget_nav_menu ul li {
      border-bottom:1px solid #333333;
  }
  #footer  .widget_nav_menu ul ul{
	  border-top:1px solid #333333;
  }
  
  .footer-menu > li{
	  border-right:1px solid #333333;
  }
  #footer .widget-posts li .date {
      color : #aaaaaa;
  }
  #footer a:link, #footer a, #footer a:visited, #footer a:active{
      color:#cccccc;
  }
  #footer a:hover, #footer .widget_tag_cloud a:hover, .widget_tag_cloud a:hover{
      color:#ffffff;
  }
  #footer .widget_tag_cloud a:hover{
      color:#ffffff;
  }
  #footer .widget h4 {
     color:#ffffff!important;
     font-family:My Font One,sans-serif;
     font-weight:400;
     font-size:15px;
	 letter-spacing:1px;
	 text-transform:uppercase;
  }
 



/*--------------------------------------------*/
/* Color Primary
/*--------------------------------------------*/

  .special_amp,
  #top_bar .social-icons li a:hover,
  #top_bar .top-menu > li a:hover ,
  .social-icons a:hover,
  .post-standard > h2 a,
  .commentlist .reply a,
  .commentlist .comment-meta a:hover,
  .post-share-menu li a:hover,
  .widget-posts li h6 a:hover,
  .button.button_alternateprimary,
  .toggle .toggle-title a:hover ,
  .accordion .accordion-title a:hover,
  .highlighted,
  .service-box .brad-icon,
  .service-box:hover .service-overlay > h4,
  .widget ul li a:hover
  {
	  color:#fe6159;
  }
  
  
  .post-meta-data span a:hover,
  .color-primary,
  .primary-color,
  .portfolio-tabs ul li.sort-item.active a,
  .toggle.style2 .toggle-title.active a,
  .accordions.style2 .accordion .accordion-title.active a{
	  color:#fe6159!important;
  }
  
  .portfolio-tabs ul li.sort-item.active a:after
  {
	  background-color:#fe6159!important;
  }
  

  .tooltips a,
  a.readmore:hover{
	  border-bottom-color:#fe6159  }
  

  .pagination a.active,
  ul.styled-list.style2 li i,
  .button.button_alternateprimary,
  .post-meta-data span:after,
  .posts-list .post-list-bottom span:after
  {
	  border-color:#fe6159;
  }
  
  .portfolio-carousel a.carousel-prev:hover,
  .portfolio-carousel a.carousel-next:hover,
   ul.styled-list.style2 li i,
  .tabset > ul.tabs > li > a.selected,
  .toggle .toggle-title.active a,
  .accordion .accordion-title.active a,
  .progress .bar,
  .highlighted.style2,
  .carousel-control:hover,
  .carousel-control:focus ,
  #titlebar  .titlebar-heading + .titlebar-subcontent:after,
  .title.style1 span:after,
  .quotes-slider > li blockquote:after,
  .person .overlay-content > p + .social-icons-wrapper:after,
  .person h4 + h5:after,
  .hr.hr-border-primary span:before ,
  .hr.hr-border-primary span:after ,
  .portfolio-items .portfolio-item .info h5:after,
  .overlay .icon,
  .overlay .lightbox-icon,
  .carousel-caption h2.title-di-yes:after,
  .spinner-css .side > .fill{
	  background-color:#fe6159;
  }

.carousel-indicators { display:none }
.carousel-control { display:none }
.carousel-caption .slider-content { color: #fe6159; font-weight: 600; }
.wide-line-spacing { line-height: 2.5em }
.service-box .brad-icon { color: #999 }</style>

