<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	<link rel="shortcut icon" href="/images/SB.png" />
	{% include 'header.html' %}
</head>

<body id="home"
	class="home page page-id-11 page-template-default  transparent-header header-scheme-light wpb-js-composer js-comp-ver-3.6.12 vc_responsive">
	{% include 'nav.html' %} 
	
	{% block content %}{% endblock %} 
	
	{% include 'footer.html' %}
	
	{% include 'login-form.html' %}
</body>
</html>
