<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel" id="signinModal">
  <div class="modal-dialog" role="document" >
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="gridSystemModalLabel">Signin</h4>
      </div>
      <div class="modal-body">
      	<div id="loginMsg" class="alert alert-block fade in" style="display:none;">
      		<button class="close" type="button" data-dismiss="alert">x</button>
			<p></p>
		</div>
        <form id="signinForm">
          <div class="form-group">
            <label for="username" class="control-label">Username:</label>
            <input type="text" class="form-control" id="username" name="username" data-toggle="manual" data-placement="right" data-original-title="Fill Username">
          </div>
          <div class="form-group">
            <label for="password" class="control-label">Password:</label>
            <input type="password" class="form-control" id="password" name="password" data-toggle="manual" data-placement="right" data-original-title="Fill Password">
          </div>
        </form>      
       </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="signin" data-loading-text="Wait...">Signin</button>
      </div>
    </div>
  </div>
</div>

 <script type="text/javascript">
(function($){
    'use strict';
	jQuery(document).ready(function($){ 
		$("#login_frm").on("click",function(e) {
			e.preventDefault();
			e.stopPropagation();
			sb.show_login();
			return false;
		});
	});
}(jQuery))
</script>
