<nav class="navbar navbar-default navbar-static-top navbar-inverse">
	<!-- Header -->
	<div id="header_wrapper" class=" transparent-header">

		<div id="header"
			class="header-v1  transparent-header header-scheme-light sticky-nav"
			data-height="84">
			<section id="main_navigation" class="shrinking-nav">
				<div class="container">
					<div id="main_navigation_container" class="row-fluid">
						<div class="row-fluid">
							<!-- logo -->
							<div class="logo-container">
								<div id="logo">
									<a href="{{ root }}#home"> <img
										src="/images/logo-google-apps.png"
										class="default-logo" alt=""> <img
										src="/images/logo-reverse-out.fw_.png"
										class="white-logo" alt="">
									</a>
								</div>
							</div>
							<!-- Tooggle Menu will displace on mobile devices -->
							<div id="toggle-menu">
								<a class="toggle-menu" href="#"><i class="fa-reorder"></i></a>
								<div class="clear"></div>
							</div>

							<div class="nav-container">
								<!-- Main Navigation Menu -->
								<ul id="main_menu" class="main_menu nav-divider-no">
									<li
										class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-3712"><a
										href="{{ root }}#home">Begin</a></li>
									<li
										class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-3622"><a
										href="{{ root }}#about_us">Why Sb</a></li>
									<li
										class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-3623"><a
										href="{{ root }}#expertise">Expertise</a></li>
									<li
										class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-3624"><a
										href="{{ root }}#clients">Clients</a></li>
									<li
										class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-3625"><a
										href="{{ root }}#contact_us">Contact</a></li>
									<li
										class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-3626"><a
										href="#" id="login_frm">Login</a></li>
								</ul>
								<!-- en nav -->
							</div>


							<div class="nav-ex-container">
								<!-- Social Icons -->

								<ul class="social-icons clearfix">

									<li class="linkedin"><a
										href="https://www.linkedin.com/company/slicedbread-inc-/"
										target="_blank" title="LinkedIn"> <i class="fa-linkedin"></i>
									</a></li>


								</ul>
							</div>

						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
	<!--End Header -->
</nav>
